@import "./scss/coreui.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
    padding:"0px";
    margin:"0px";
    font-family: 'Montserrat', sans-serif;
}

